<form 
    [formGroup]="fg" 
    (ngSubmit)="guardar(
        fg.controls['nombre'].value,
        fg.controls['url'].value
        )">
    <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" class="form-control" 
            id="nombre" placeholder="Ingresar nombre..." 
            [formControl]="fg.controls['nombre']">
            <ul>
                <li *ngFor="let r of searchResults;">{{r}}</li>
            </ul>
        <!-- <div class="alert alert-warning font-italic" *ngIf="!fg.controls['nombre'].valid">*Nombre Inválido!</div> -->
        <div class="alert alert-warning font-italic" *ngIf="fg.controls['nombre'].hasError('required')">*Nombre requerido!</div>
        <div class="alert alert-danger font-italic" *ngIf="fg.controls['nombre'].hasError('invalidNombre')">*Nombre Inválido!</div>
        <div class="alert alert-info font-italic" *ngIf="fg.controls['nombre'].hasError('minLongNombre')">*Nombre de al menos {{minLongitud}} de largo!</div>
    </div>
    <div class="form-group">
        <label for="imageUrl">Imagen Url</label>
        <input type="text" class="form-control" 
            id="imageUrl" placeholder="Ingresar url..." 
            [formControl]="fg.controls['url']">
    </div>
    <button type="submit" class="btn btn-info" *ngIf="fg.valid">Guardar</button>
</form>
