<div class="page-header">
  <div class="container">
    <h1>Ruteo Simple</h1>
    <div class="nav">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
      <a class="nav-link" [routerLink]="['/destino']">Destino</a>
    </div>
  </div>
</div>

<div class="container content">
    <div class="row">
    <h1>
      {{ title }}
    </h1>
  </div>
  <router-outlet></router-outlet>
</div>

<hr class="mb-5">

Fecha: {{ time | async }}
